<div>
  <h2>Recherche des images par tags</h2>
  <input type="text" [(ngModel)]="searchCriteria" (input)="searchImages()" placeholder="Entrée le nom des tags">
</div>

<div *ngIf="searchResults.length > 0">
  <h3>Liste des images :</h3>
  <div class="image-list">
    <div class="image-item" *ngFor="let image of searchResults">
      <img [src]="image.url" [alt]="image.description">
      <div class="image-properties">
        <input type="text" [(ngModel)]="image.description" (input)="updateImageProperties(image)">
        <button (click)="deleteImage(image)">Delete</button>
      </div>
    </div>
  </div>
</div>
