<h1 class="d-flex justify-content-center">SEARCH</h1>

<div>
  <div>
  <h2>Recherche des images par tags</h2>
  <form>
  <mat-form-field class="example-chip-list">
    <mat-label>Tags à rechercher</mat-label>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
        {{fruit}}
        <button matChipRemove [attr.aria-label]="'remove ' + fruit">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of all_tags" [value]="fruits">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<mat-chip-listbox aria-label="tag selection">
  <mat-chip class="custom-mat-chip" *ngFor="let tag of available_tags" [ngStyle]="{'border-color': tag.color}" (click)="onClickChip(tag.name)">
  {{tag.name}} ({{tag.occurence}})
  </mat-chip>
</mat-chip-listbox>
</div>
  <h2>Recherche des images</h2>
  <div class="container">
    <div  class="grid-container">
        <div  *ngFor="let photo of photos" class="grid-item">
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                  <img [src]="photo.picture" class="card-img-top">
                <div class="card-body">
                  <button class="btn btn-success" (click)="download(photo.picture,photo.name)"><i class="bi bi-box-arrow-down"></i></button>
                  <button class="btn btn-danger" (click)="delete_picture(photo.id)"><i class="bi bi-trash-fill"></i></button>
                <div *ngFor="let tag of photo.tags">
                <mat-chip class="mat-chip" (click)="onClickChip(tag.name)">
                    {{tag.name}}
                </mat-chip>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/><br/>
      </div>
    </div>
  </div>
</div>


