
<body>
  <h1> {{title}}</h1>
  <hr>
  <div  class="grid-container">
  <div  *ngFor="let photo of photos" class="grid-item">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <a href="photo.picture" download>
            <img [src]="photo.picture" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
           <h5 class="card-title">{{photo.name}}</h5>
           <div *ngFor="let tag of photo.tags">
            <p class="card-text">{{tag}}</p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
  </div>
</div>
</body>
