<p> This is HomeWorks!</p>

<h1 class="d-flex justify-content-center"> TEST TEST TEST</h1>
<div class="container">

  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  <div class="carousel flex-fill">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>First TAG</h3>
          <p> TAG EXAMPLE HERE !!!  </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper flex-fill">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Second TAG</h3>
          <p> TAG TAG TAGiediaries</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[2]"  alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third TAG</h3>
          <p>TAG full tutorial...</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[2]"  alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third TAG</h3>
          <p>TAG full tutorial...</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
<!--    <div class="row" >-->
<!--      <div  *ngFor='let image of foodImage;-->
<!--        let i = index' [ngClass]="image.status !== sTab.status ? 'col-4':''">-->
<!--        <div class="card" *ngIf='image.status == sTab.status'>-->
<!--          <div class="card-title">-->
<!--            <p>Index : {{ i }}</p>-->
<!--            <small>Title : {{ image.title }}</small>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <img src="{{imageURL}}{{image.imgSrc}}"-->
<!--                 [alt]="image.originalname">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    <ngb-carousel *ngIf="images">-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[0]" alt="Random first slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>10 seconds between slides...</h3>-->
<!--          <p>This carousel uses customized default values.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[1]" alt="Random second slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>No mouse events...</h3>-->
<!--          <p>This carousel doesn't pause or resume on mouse events</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[2]" alt="Random third slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>No keyboard...</h3>-->
<!--          <p>This carousel uses customized default values.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[3]" alt="Random fourth slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>And no wrap after last slide.</h3>-->
<!--          <p>This carousel uses customized default values.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ngb-carousel>-->
    </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  <div class="carousel flex-fill">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>First TAG</h3>
          <p> TAG EXAMPLE HERE !!!  </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper flex-fill">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Second TAG</h3>
          <p> TAG TAG TAGiediaries</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[2]"  alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third TAG</h3>
          <p>TAG full tutorial...</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[2]"  alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third TAG</h3>
          <p>TAG full tutorial...</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
<!--    <div class="row" >-->
<!--      <div  *ngFor='let image of foodImage;-->
<!--        let i = index' [ngClass]="image.status !== sTab.status ? 'col-4':''">-->
<!--        <div class="card" *ngIf='image.status == sTab.status'>-->
<!--          <div class="card-title">-->
<!--            <p>Index : {{ i }}</p>-->
<!--            <small>Title : {{ image.title }}</small>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <img src="{{imageURL}}{{image.imgSrc}}"-->
<!--                 [alt]="image.originalname">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    <ngb-carousel *ngIf="images">-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[0]" alt="Random first slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>10 seconds between slides...</h3>-->
<!--          <p>This carousel uses customized default values.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[1]" alt="Random second slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>No mouse events...</h3>-->
<!--          <p>This carousel doesn't pause or resume on mouse events</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[2]" alt="Random third slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>No keyboard...</h3>-->
<!--          <p>This carousel uses customized default values.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[3]" alt="Random fourth slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>And no wrap after last slide.</h3>-->
<!--          <p>This carousel uses customized default values.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ngb-carousel>-->
    </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>
  <div class="carousel flex-fill">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>First TAG</h3>
          <p> TAG EXAMPLE HERE !!!  </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper flex-fill">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Second TAG</h3>
          <p> TAG TAG TAGiediaries</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[2]"  alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third TAG</h3>
          <p>TAG full tutorial...</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[2]"  alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third TAG</h3>
          <p>TAG full tutorial...</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
<!--    <div class="row" >-->
<!--      <div  *ngFor='let image of foodImage;-->
<!--        let i = index' [ngClass]="image.status !== sTab.status ? 'col-4':''">-->
<!--        <div class="card" *ngIf='image.status == sTab.status'>-->
<!--          <div class="card-title">-->
<!--            <p>Index : {{ i }}</p>-->
<!--            <small>Title : {{ image.title }}</small>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <img src="{{imageURL}}{{image.imgSrc}}"-->
<!--                 [alt]="image.originalname">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    <ngb-carousel *ngIf="images">-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[0]" alt="Random first slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>10 seconds between slides...</h3>-->
<!--          <p>This carousel uses customized default values.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[1]" alt="Random second slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>No mouse events...</h3>-->
<!--          <p>This carousel doesn't pause or resume on mouse events</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[2]" alt="Random third slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>No keyboard...</h3>-->
<!--          <p>This carousel uses customized default values.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="picsum-img-wrapper">-->
<!--          <img [src]="images[3]" alt="Random fourth slide" />-->
<!--        </div>-->
<!--        <div class="carousel-caption">-->
<!--          <h3>And no wrap after last slide.</h3>-->
<!--          <p>This carousel uses customized default values.</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ngb-carousel>-->
    </div>
</div>
