<h1 class="d-flex justify-content-center">HOME</h1>

<div class="container">
  <div class="carousel flex-fill">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let photo of random_photos">
        <div class="center-slide-image">
          <img [src]="photo.picture" alt="Random first slide"/>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div  class="grid-container">
    <div  *ngFor="let photo of ten_photos" class="grid-item">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img [src]="photo.picture" class="card-img-top">
            <div class="card-body">
              <button class="btn btn-success" (click)="download(photo.picture,photo.name)"><i class="bi bi-box-arrow-down"></i></button>
              <button class="btn btn-danger" (click)="delete_picture(photo.id)"><i class="bi bi-trash-fill"></i></button>
             <div *ngFor="let tag of photo.tags">
             <mat-chip>
                {{tag.name}}
            </mat-chip>
            </div>
            </div>
          </div>
        </div>
      </div>
      <br/><br/>
    </div>
  </div>
</div>
