<div >

  <h1 class="d-flex justify-content-center"> UPLOAD</h1>


<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Image</h5>
    <p class="card-text">Veuillez insérer les images de votre choix</p>
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div>
      <input id="picture" type="file" formControlName="files" (change)="onFileChange($event)" multiple>
  </div>
  <div>
    <button class="button" type="submit">Upload</button>
  </div>
  </form>
  </div>
</div>
