<div>
<form [formGroup]="pictureUploadForm" (ngSubmit)="onSubmit()">


  <div>
    <span>HELLO from FORMPICTUREUPLOAD</span>
    <label for="tags">
      Tag
    </label>
    <select #tags formControlName="tags" (change)="onTagSelected(tags)">
      <option>test</option>
      <option>test_2</option>
      <option>test_3</option>
    </select>
  </div>

  <div>
    <label for="picture_to_upload">
      Picture to upload
    </label>
    <input id="picture" type="file" formControlName="picture">
  </div>

  <div>
    <mat-chip-option *ngfor="let tag_selected of tags_to_add">{{tags_to_add}}</mat-chip-option>
    <span>{{this.tags_to_add}}</span>
  </div>



  <button class="button" type="submit">Upload</button>

</form>
</div>
