<div class="container">
  <div class="header">
    <nav class ="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button routerLink="/"
          class="m-1 btn btn-light btn-outline-primary" Button>Home</button>
        </li>
        <li class="nav-item">
          <button routerLink="list"
                  class="m-1 btn btn-light btn-outline-primary" Button>List</button>
        </li>
        <li class="nav-item">
          <button routerLink="search"
                  class="m-1 btn btn-light btn-outline-primary" Button>Search</button>
        </li>
        <li class="nav-item">
          <button routerLink="upload"
                  class="m-1 btn btn-light btn-outline-primary" Button>Upload</button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content">
    <body>
    <router-outlet></router-outlet>
    </body>
  </div>

</div>
